.rc {
    height: 150px;
    width: 320px;
    border: black solid 3px;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.inc {
    font-size: 35px;
    font-weight: 700;
    border-radius: 10px;
    /*margin: 70px;*/
}

.reset {
    font-size: 35px;
    font-weight: 700;
    border-radius: 10px;
}